@import url('https://fonts.googleapis.com/css?family=Vollkorn');
body > header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #B90B2B;
    color: white;
    line-height: 150px;
}
h1 {
    font-size: 70px;
    font-family: 'Vollkorn', serif;
    color: bisque;
}

main > section {
    display: flex;
    justify-content: center;
    background-image: url("images/background.jpg");
    background-size: auto;
    background-position: center;
}

#box {
    background-color: #FFF8DC;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #B90B2B;
    padding: 10px;
    text-align: center;

}

div > section {
    display: flex;
}

