body > header, footer {
    width: 100%;
    height: 150px;
    background-color: #B90B2B;
    color: white;
    vertical-align: center;
    line-height: 150px;
}

main > section {
    background-image: url("images/background.jpg");
    background-size: auto;
    background-position: center;
}

#box {
    background-color: #FFF8DC;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #B90B2B;
    padding: 10px;
    text-align: center;

}

div > section {
    display: flex;
}

