main > section {
    display: flex;
    opacity: 0.7;
    flex-direction: row;
    border: solid 1px black;
    width: auto;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 46px;
}
main > section > section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 5px;
}
main > section > section > figure > img {
    width: 300px;
    height: 250px;
    margin-right: 5px;
}
main > section:nth-of-type(2) > section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.andraköpte {
    text-align: center;
    width: 100%;
}



main > section > section > article > figure > img {
    height: 100px;
    width: 100px;
    margin: 2px;
}

.produkt {
    margin-bottom: 15px;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}
.beskrivning {
    margin-bottom: 20%;
}
.Pris {
    display: inline-block;
    font-family: 'Dosis', cursive;
    font-style: italic;
    font-size: larger;
    margin-right: 15px;

}
.pris{
    display: inline-block;
    font-family: 'Dosis', cursive;
    font-style: normal;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}
.wrapper {
    text-align: center;
    border: 1px solid;
    background-color: white;
    padding: 5px;
    margin: 10px;
    height: 200px;
    width: 140px;
}
h5 {

}
