main > section {
    display: flex;
    background-color: bisque;
    opacity: 0.7;
    flex-direction: row;
    border: solid 1px black;
    width: auto;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 46px;
}
main > section > section {
    display: flex;
    align-items: flex-start;
    margin: 5px;
}
main > section > section > figure > img {
    width: 250px;
    height: 200px;
    margin-right: 5px;
}


main > section > section > article > figure > img {
    height: 100px;
    width: 100px;
    margin: 2px;
}

.produkt {
    margin-bottom: 15px;
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}
.beskrivning {
    margin-bottom: 20%;
}
.Pris {
    display: flex;
    justify-content: flex-end;
    font-family: 'Dosis', cursive;
    font-style: italic;
    font-size: larger;
    margin-right: 15px;

}
